{{< layout}}

{{$pageTitle}}
    How to take a digital passport photo
{{/pageTitle}}

{{$header}}
    <h1>Ways of applying online</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<div class="accordion" id="name-change-accordion">

    <div class="accordion-section" id="service-standard">
        <div class="accordion-section-header">
            <h2 class="heading-medium">Standard service ( 3 weeks )</h2>
        </div>

        <div class="accordion-section-body">
            <ol class="list list-number">

                <li>
                    <h3>Get a digital passport photo</h3>
                    <p>We’ll show you how to get a digital passport photo.</p>
                </li>

                <li>
                    <h3>Provide application details</h3>
                    <p>Fill in your application details.</p>
                </li>

                <li>
                    <h3>Find out what documents you need to send</h3>
                    <p>We’ll tell you what documents you need to send.</p>
                </li>

                <li>
                    <h3>Pay for your passport online
                    <p>A standard passport is £75.50 for an adult, and £49 for a child.</p>
                </li>

                <li >
                    <h3>If required, get someone to confirm your identity
                    <p>We’ll tell you if we need someone to confirm your identity. They can confirm your identity online</a> without
                        a printed photo.</p>
                </li>

                <li> <h3>Track your application
                    <p>We’ll send you updates by email or text. You can also log in to:</p>
                    <ul class="list-bullet">
                        <li>track progress on your application</li>
                        <li>check what documents you need to send, and where to send them</li>
                        <li>ask someone to confirm your identity (if required)</li>
                    </ul>
                </li>

            </ol>
        </div>
    </div>

    <div class="accordion-section" id="service-fast-track">
        <div class="accordion-section-header">
            <h2 class="heading-medium">Fast-track service ( 1 week* ) </h2>
        </div>

        <div class="accordion-section-body">
            <ol class="list list-number">

                <li>
                    <h3>Get a digital passport photo</h3>
                    <p>We’ll show you how to get a digital passport photo.</p>
                </li>

                <li>
                    <h3>Provide application details</h3>
                    <p>Fill in your application details.</p>
                </li>

                <li>
                    <h3>Find out what documents you need to bring with you to the appointment</h3>
                    <p>We’ll tell you what documents you need to bring.</p>
                </li>

                <li>
                    <h3>Pay for your passport online</h3>
                    <p>A standard passport is £142 for an adult, and £122 for a child.</p>
                </li>

                <li> class="list-item-bold">If required, get someone to confirm your identity
                    <p>We’ll tell you if we need someone to confirm your identity. They can confirm your identity online</a> without
                        a printed photo.</p>
                </li>

                <li class="list-item-bold">Book an appointment
                    <p>Book an appointment to bring in your documents</p>
                </li>

                <li class="list-item-bold">Track your application
                    <p>We’ll send you updates by email or text.</p>
                </li>

            </ol>
        </div>
    </div>

    <div class="accordion-section" id="service-premium">
        <div class="accordion-section-header">
            <h2 class="heading-medium">Premium service ( 5 days ) </h2>
        </div>

        <div class="accordion-section-body">
            <h3>Use a plain light-coloured background</h3>
            <ul class="list list-bullet">
                <li>no texture or patterns</li>
                <li>children must be on their own in the photo</li>
                <li>babies must not be holding toys or dummies</li>
            </ul>
            <h4>Children under 1:</h4>
            <ul class="list list-bullet">
                <li>you can support their head with your hand but your hand must not be visible</li>
            </ul>
            <div class="guidance-photos" aria-hidden="true">
                <ul>
                    <li>
                        <img src="/public/images/photoguide/uncropped-photos/image-child-1.jpg" alt="">
                        <div class="result">
                            <p class="approved">Approved</p>
                        </div>
                    </li>
                    <li>
                        <img src="/public/images/photoguide/uncropped-photos/image-child-2.jpg" alt="">
                        <div class="result">
                            <p class="failed">No dummies</p>
                        </div>
                    </li>
                    <li>
                        <img src="/public/images/photoguide/uncropped-photos/image-child-3.jpg" alt="">
                        <div class="result">
                            <p class="failed">1 person only in photo</p>
                        </div>
                    </li>
                </ul>
            </div>
            <br>

            <h3>Even lighting and no shadows</h3>
            <ul class="list list-bullet">
                <li>balanced light &ndash; no shadows on your child's face or behind them</li>
                <li>it’s best to use natural sunlight, for example facing a window</li>
            </ul>
            <div class="guidance-photos" aria-hidden="true">
                <ul>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
                        <div class="result">
                            <p class="approved">Approved</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg"
                            alt="">
                        <div class="result">
                            <p class="failed">Shadow on face</p>
                        </div>
                    </li>
                    <li>
                        <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg"
                            alt="">
                        <div class="result">
                            <p class="failed">Shadow behind head</p>
                        </div>
                    </li>
                </ul>
            </div>
            <br>

            <h3>Stand in the right position</h3>
            <h4>When you take the photo of your child:</h4>
            <ul class="list list-bullet">
                <li>they should stand 0.5 metres (1.5 feet) from the background (this reduces shadow)</li>
                <li>you need to stand far enough away so that their head, shoulders and upper body are included
                    in the photo</li>
                <li>don’t crop the photo &ndash; it will be done for you</li>
            </ul>
            <h4>Children under 1:</h4>
            <ul class="list list-bullet">
                <li>lay them on a plain light-coloured sheet and take the photo from above</li>
            </ul>
            <div class="guidance-photos" aria-hidden="true" style="width:50%">
                <ul>
                    <li>
                        <img src="/public/images/good-passport-photo.jpg" alt="">
                    </li>
                </ul>
            </div>
            <br>

            <h3>Plain expression and face in full view</h3>
            <ul class="list list-bullet">
                <li>face front on to the camera</li>
                <li>no smile or frown &ndash; eyes open and mouth closed</li>
                <li>your child's photo should be a good likeness and taken in the last month</li>
            </ul>
            <h4>Children under 6:</h4>
            <ul class="list list-bullet">
                <li>don't have to look directly at the camera</li>
                <li>don't need to have a plain expression</li>
            </ul>
            <div class="guidance-photos" aria-hidden="true">
                <ul>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-f1-plain.jpg" alt="">
                        <div class="result">
                            <p class="approved">Plain expression</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-f1-smiling.jpg" alt="">
                        <div class="result">
                            <p class="failed">Don’t smile</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-f1-mouth-open.jpg" alt="">
                        <div class="result">
                            <p class="failed">Keep your mouth closed</p>
                        </div>
                    </li>
                </ul>
            </div>
            <br>

            <h3>No headwear</h3>
            <ul class="list list-bullet">
                <li>unless it’s for religious or medical reasons</li>
            </ul>
            <div class="guidance-photos" aria-hidden="true">
                <ul>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-f2-religious-head-covering.jpg"
                            alt="">
                        <div class="result">
                            <p class="approved">Religious headwear</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-m3-head-covering.jpg"
                            alt="">
                        <div class="result">
                            <p class="failed">No fashion headwear</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-f1-hair-accessory.jpg"
                            alt="">
                        <div class="result">
                            <p class="failed">No hair accessories</p>
                        </div>
                    </li>
                </ul>
            </div>
            <br>

            <h3>Eyes fully visible</h3>
            <ul class="list list-bullet">
                <li>hair away from the face and eyes</li>
                <li>take glasses off (if possible)</li>
            </ul>
            <h4>Children under 1:</h4>
            <ul class="list list-bullet">
                <li>don't have to have their eyes open</li>
            </ul>
            <h4>If your child needs to keep their glasses on:</h4>
            <ul class="list list-bullet">
                <li>their eyes must be visible without any glare or reflections</li>
            </ul>
            <div class="guidance-photos" aria-hidden="true">
                <ul>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-m2-plain-glasses.jpg"
                            alt="">
                        <div class="result">
                            <p class="approved">Eyes fully visible</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-tinted-covering-eyes.jpg"
                            alt="">
                        <div class="result">
                            <p class="failed">Don’t cover eyes with glasses</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-reflection.jpg"
                            alt="">
                        <div class="result">
                            <p class="failed">No glare on glasses</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<br>

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
